In [2]:
import pandas as pd
import numpy as np
import scipy as sts
import os
import csv

In [3]:
budget_data = "Resources/budget_data.csv"
budget_df = pd.read_csv(budget_data)

In [4]:
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
totalmonths = budget_df["Date"].count()
netprofit = budget_df["Profit/Losses"].sum()

totalmonths

86

In [6]:
diffrev = budget_df["Profit/Losses"].diff()
diffrev_df = pd.DataFrame(diffrev)

maxrev = diffrev.max()
maxrevrow = diffrev_df.loc[diffrev_df["Profit/Losses"]==maxrev]
maxrevindex = maxrevrow.index
greatest_increase = budget_df.loc[maxrevindex]
greatest_increase_date = greatest_increase["Date"]

minrev = diffrev.min()
minrevrow = diffrev_df.loc[diffrev_df["Profit/Losses"]==minrev]
minrevindex = minrevrow.index
greatest_decrease = budget_df.loc[minrevindex]
greatest_decrease_date = greatest_decrease["Date"]

avgrevchange = diffrev.mean()

In [7]:
print("----------------------------------------------------------")
print("Financial Analysis")
print("----------------------------------------------------------")
print("Total Months: " + str(totalmonths))
print("Total Profits: " + "$" + str(netprofit))
print("Average Change: " + "$" + str(avgrevchange))
print("Greatest Increase in Profits: " + str(greatest_increase_date) + " ($" + str(maxrev) + ")")
print("Greatest Decrease in Profits: " + str(greatest_decrease_date) + " ($" + str(minrev)+ ")")
print("----------------------------------------------------------")

----------------------------------------------------------
Financial Analysis
----------------------------------------------------------
Total Months: 86
Total Profits: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: 25    Feb-2012
Name: Date, dtype: object ($1926159.0)
Greatest Decrease in Profits: 44    Sep-2013
Name: Date, dtype: object ($-2196167.0)
----------------------------------------------------------

In [8]:
with open('financial_analysis.txt', 'w') as text:
    text.write("----------------------------------------------------------\n")
    text.write("  Financial Analysis"+ "\n")
    text.write("----------------------------------------------------------\n\n")
    text.write("Total Months: " + str(totalmonths)+ "\n")
    text.write("Total Profits: " + "$" + str(netprofit)+ "\n")
    text.write("Average Change:" + "$" + str(avgrevchange)+ "\n")
    text.write("Greatest Increase in Profits: " + str(greatest_increase_date) + " ($" + str(maxrev) + ")" + ")\n")
    text.write("Greatest Decrease in Profits: " + str(greatest_decrease_date) + " ($" + str(minrev)+ ")" + ")\n")
    text.write("----------------------------------------------------------\n")